<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t("spree_paybox_system_gateway.paybox_system_gateway_settings") %></h1>

<table>
  <tr>
    <th scope="row"><%= t("spree_paybox_system_gateway.site_id") %>:</th>
    <td><%= SpreePayboxSystemGateway::Config[:site_id] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("spree_paybox_system_gateway.rang") %>:</th>
    <td><%= SpreePayboxSystemGateway::Config[:rang] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("spree_paybox_system_gateway.paybox_id") %>:</th>
    <td><%= SpreePayboxSystemGateway::Config[:paybox_id] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("spree_paybox_system_gateway.secret_key") %>:</th>
    <td><%= SpreePayboxSystemGateway::Config[:secret_key] %></td>
  </tr>
</table>

<p>
  <%= link_to_with_icon('edit', t("edit"), edit_admin_paybox_system_gateway_settings_path) %>
</p>
